<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miklesam.dota_manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".practiceactivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ClosedPlayoff"
            android:screenOrientation="landscape" />
        <activity
            android:name=".market"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Improve"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ClosedQuali"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OpenQuali"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Rewarded"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Shop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FightState"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TeamsShow"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlaningState"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mainstate"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Pick_Stage"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlayerChoose"
            android:screenOrientation="landscape" />
        <activity
            android:name=".YourTeam"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TeamName"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>